* {
    display: border-box;
    margin: 0;
}

/*-------*/

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.seccion-menu {

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.opciones {
    display: flex;
}

.opcion {
    width: 12rem;
    height: 8rem;
    border-radius: 10px;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: 0.8rem;
    background-color: #a1caff;
}

.opcion:hover {
    box-shadow: 0.2rem 0.2rem #555555;
}

.menu {
    text-align: left;
}


.titulo-menu {
    font-size: 2rem;
    cursor: pointer;
    align-self: flex-end
}

.ui-menu .ui-menu-item a {
    font-size: 12px;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1510 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item>a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover,
.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

#captar {
    caption-side: top;
}

footer {
    text-align: center;
}

form {
    margin: 50px auto;
    width: 500px;
}

hr {
    height: 10px;
}


button {
    background-color: #fff;
    border: none;
    padding: 10px 25px;
    outline: none;
    text-align: center;
    position: relative;
    display: inline-block;
}

.botonmenu:hover {
    background-color: #a1caff;
}

.select {
    width: 200px;
    padding: 5px 25px;
    text-align: center;
}

.container #formulario {
    border-radius: 30px;
    border-color: blue;
    background-color: #eee;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.autocompletar {
    position: relative;
    display: inline-block;
}

strong {
    color: black;
}

input {
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    padding: 10px 25px;
    outline: none;
    text-align: center;
    position: relative;
    display: inline-block;
}



.lista-autocompletar-items div:hover {
    background-color: dodgerblue;
}

.autocompletar-active {
    background-color: blue !important;
    color: #a1caff;
}

.autocompletar-active strong {
    color: #fff;
}

.agregaractivo:hover {
    background-color: #A98989;
}

.submit {
    background-color: greenyellow;
}

.reset {
    background-color: coral;
}

.w3-modal-content {
    border-radius: 30px;
}



/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.6rem;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: right;
    cursor: pointer;
    outline: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 70%;
    background-color: #eee;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding-right: 10%;
}

.sidenav a:hover {
    color: black;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: black;
}

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.active {
    background-color: #818181;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #eee;
    padding-left: 8px;
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}