body {
    text-align: center;
    align-items: center !important;
}


form {
    margin-left: 5%;
    margin-right: 5%;
    padding: 1em;
    width: 90%;
    text-align: center;

}

footer {
    text-align: center;
}

footer>button {
    margin: 1rem;
}

.form-registros {
    font-size: small;
}

.form-control-register {
    display: block;
    width: 100%;
    padding: .2rem .75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.revision-notas {
    text-align: center;
}

.tabla-registros {
    font-size: 0.8rem;
    margin-top: 1.5em;
    width: 100%;
    background-color: #ECEBEB;
    border-radius: 1.5rem;
    padding: 2rem;
    text-align: center;
}

.mediano {
    width: 20%;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

.pequeno {
    width: 10%;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

.completo {
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    width: 90%;
    display: inline-block;
}

.botones {
    margin: 1.1rem;

}

.botones>button {
    margin: 0.3rem;
}

.titulo-pagina {
    text-align: center;
    margin: 1rem;
}